/*
  Custom styles for Trackster App
*/

html {
	font-size: 16px;
}


/* BOOSTRAP-NAVBAR CUSTOM STYLES AND POSITIONING */
.navbar {
	background-color: rgb(35, 2, 63);
	border-radius: 0;
	margin-bottom: 0;
}

.container {
	padding-right: 0;
	padding-left: 0;
	width: 100%;
}

#navbar-container {
	align-items: center;
	display: flex;
	height: 100px;
	margin: 0;
	width: 100%;
}

.navbar .navbar-brand {
	color: rgb(255, 0, 171);
	font-family: Righteous;
	font-size: 2.5rem;
}

.form-control::placeholder {
	color: rgb(191, 191, 191);
}

.form-control {
	border-radius: 50px;
}

.navbar i {
	background-color: rgb(255, 102, 204);
	border-radius: 2rem;
	padding: 5px 1.5rem;
}

.navbar i:hover {
	background-color: rgb(225, 0, 171);
	cursor: pointer;
}


main {
	background-color: #00000000;
	font-family: Roboto;
	letter-spacing: 1px;
}

.row {
	margin: 0;
}

/* SONG LIST HEADER */
#tableheader {
	background-color: rgb(104, 0, 255);
	color: rgb(255, 255, 255);
	font-family: Righteous;
	font-size: 1.1rem;
	padding: 0.5rem 0;
}


/* TRACK LIST */
.track {
	align-items: center;
	border-bottom: 1px solid rgb(204, 204, 204);
	border-top: 1px solid rgb(204, 204, 204);
	color: #464545;
	display: flex;
	font-size: 1.1rem;
	padding: 1rem 0;
}

.track:hover {
	background-color: rgb(239, 237, 242);
	color: rgb(35, 2, 63);
}

.track i {
	color: rgb(235, 0, 171);
}
