/*
  Custom styles for Trackster App
*/

html {
	font-size: 16px;
}


/* BOOSTRAP-NAVBAR CUSTOM STYLES AND POSITIONING */
.navbar {
	background-color: rgb(35, 2, 63);
	margin-bottom: 0;
	border-radius: 0;
}

.container {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

#navbar-container {
	height: 100px;
	display: flex;
	align-items: center;
	margin: 0;
	width: 100%;
}

.navbar .navbar-brand {
	font-family: Righteous;
	font-size: 2.5rem;
	color: rgb(255, 0, 171);
}

.form-control::placeholder {
	color: rgb(191, 191, 191);
}

.form-control {
	border-radius: 50px;
}

.navbar i {
	background-color: rgb(255, 102, 204);
	padding: 5px 1.5rem;
	border-radius: 2rem;
}

.navbar i:hover {
	background-color: rgb(225, 0, 171);
	cursor: pointer;
}


main {
	background-color: black;
}

.row {
	margin: 0;
}

/* SONG LIST HEADER */
#tableheader {
	background-color: rgb(104, 0, 255);
	color: rgb(255, 255, 255);
	padding: 0.5rem 0;
}


/* TRACK LIST */
.track {
	border-top: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	color: rgb(174, 174, 174);
	font-family: 'Work Sans';
	padding: 1rem 0;
}

.track i {
	color: rgb(235, 0, 171);
}